[submodule "submodules/antlr4"]
	path = submodules/antlr4
	url = https://github.com/antlr/antlr4
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json
[submodule "submodules/maigc_enum"]
	path = submodules/maigc_enum
	url = https://github.com/Neargye/magic_enum
[submodule "submodules/fpgrowth"]
	path = submodules/fpgrowth
	url = https://github.com/jackbergus/FP-growth/
[submodule "submodules/yaml"]
	path = submodules/yaml
	url = https://github.com/jbeder/yaml-cpp
[submodule "submodules/gvpp"]
	path = submodules/gvpp
	url = https://github.com/compilin/gvpp/
[submodule "submodules/args"]
	path = submodules/args
	url = https://github.com/Taywee/args
[submodule "submodules/knn-cpp"]
	path = submodules/knn-cpp
	url = https://github.com/Rookfighter/knn-cpp
[submodule "submodules/date"]
	path = submodules/date
	url = https://github.com/HowardHinnant/date/
